<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.EquinoxLauncher">
<booleanAttribute key="append.args" value="true"/>
<booleanAttribute key="automaticAdd" value="true"/>
<booleanAttribute key="automaticValidate" value="false"/>
<stringAttribute key="bootstrap" value=""/>
<stringAttribute key="checked" value="[NONE]"/>
<booleanAttribute key="clearConfig" value="false"/>
<stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/adempiere_equinox_swing"/>
<booleanAttribute key="default" value="true"/>
<booleanAttribute key="default_auto_start" value="true"/>
<intAttribute key="default_start_level" value="4"/>
<stringAttribute key="deselected_workspace_plugins" value="org.adempiere.serverRoot,org.adempiere.install,org.adempiere.plugin.list,org.adempiere.wstore,org.adempiere.tomcat.config,org.adempiere.libero.mfg.zk,org.adempiere.pluginUtils,org.adempiere.webui,org.adempiere.serverApps"/>
<booleanAttribute key="includeOptional" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl} -consoleLog -console -application org.adempiere.Client"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dosgi.noShutdown=true -DPropertyFile=/media/W/Workspace/hengsin/trunk-local.properties"/>
<stringAttribute key="pde.version" value="3.3"/>
<booleanAttribute key="show_selected_only" value="false"/>
<stringAttribute key="target_bundles" value="org.eclipse.equinox.ds@default:true,org.eclipse.core.runtime@default:true,com.springsource.javax.jms@default:default,com.springsource.javax.activation@default:default,org.eclipse.osgi.services@default:default,com.springsource.javax.servlet.jsp@default:default,org.eclipse.equinox.launcher@default:default,org.eclipse.update.configurator@3:true,org.eclipse.equinox.preferences@default:default,com.springsource.javax.servlet@default:default,com.springsource.net.sf.cglib@default:default,org.eclipse.core.jobs@default:default,org.eclipse.osgi@-1:true,com.springsource.javax.el@default:default,org.eclipse.equinox.registry@default:default,org.eclipse.equinox.app@default:default,com.springsource.javax.ejb@default:default,org.eclipse.equinox.util@default:default,com.springsource.javax.xml.rpc@default:default,org.eclipse.core.contenttype@default:default,com.springsource.javax.xml.soap@default:default,org.eclipse.equinox.common@2:true"/>
<booleanAttribute key="tracing" value="false"/>
<booleanAttribute key="useCustomFeatures" value="false"/>
<booleanAttribute key="useDefaultConfigArea" value="true"/>
<stringAttribute key="workspace_bundles" value="org.adempiere.client@default:true,org.adempiere.apps.JasperReportsClient@default:true,org.adempiere.libero.mfg@default:false,org.adempiere.base@default:default,org.adempiere.JasperReportsTools@default:default,org.adempiere.pipo.defaultHandlers@default:default,org.adempiere.JasperReports@default:default,org.adempiere.extend@default:false,org.adempiere.libero.hr@default:false,org.adempiere.pipo@default:default,org.adempiere.JasperReports.webapp@default:default,org.adempiere.tools@default:default,org.adempiere.ui.base@default:default"/>
</launchConfiguration>
