<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/fitnesse/fitnesse.jar"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="ADEMPIERE_WEB_PORT" value="${ADEMPIERE_WEB_PORT}"/>
<mapEntry key="fitnesse_home" value="${workspace_loc}/fitnesse"/>
</mapAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="fitnesseMain.FitNesseMain"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-p 8089 -l log"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="fitnesse"/>
</launchConfiguration>
