**/target/
**/lib/*.jar
**/seed/*.jar
/org.adempiere.ui.zk/labelapplet.jar
/org.adempiere.extend/test.properties

/.metadata/
/PostgreSQL/
/Oracle/
/log/
/*.log
/idempiere.properties
/idempiereEnv.properties
/hazelcast.xml

swingclient.product*.launch
server.product*.launch

/RemoteSystemsTempFiles/
External Plug-in Libraries
.recommenders

/runtime-server.product/
/jettyhome/

/org.idempiere.javadoc/API
/localRepository/
/maven.script/testScript/localRepository/
/maven.script/testScript/maven.script/
/maven.script/testScript/maven.script/org.idempiere.p2.targetplatform/
/maven.script/testScript/workspace/
/org.idempiere.p2.targetplatform/org.idempiere.p2.targetplatformlocal.target
/org.idempiere.p2.targetplatform/org.idempiere.p2.targetplatformlocal.tpd