*/target/
**/lib/*.jar
**/seed/*.jar
/org.adempiere.ui.zk/labelapplet.jar
/org.adempiere.extend/test.properties

/.metadata/
/PostgreSQL/
/Oracle/
/log/
/*.log
/idempiere.properties
/idempiereEnv.properties
/hazelcast.xml

swingclient.product*.launch
server.product*.launch

/RemoteSystemsTempFiles/
External Plug-in Libraries
.recommenders

/runtime-server.product/
/jettyhome/

/org.idempiere.javadoc/API

/fitnesse/fitnesse.jar
/fitnesse/FitNesseRoot/FitLibraryWeb/*.zip
