<target name="idempiere-12-bouncy-castle-fips" sequenceNumber="20250807">
	<locations>	
		<!-- org.bouncycastle -->
		<location includeSource="true" missingManifest="generate" type="Maven">
	      <groupId>org.bouncycastle</groupId>
	      <artifactId>bcpg-fips</artifactId>
	      <version>2.1.11</version>
	      <type>jar</type>
		</location>
		<location includeDependencyScope="compile" includeSource="true" missingManifest="generate" type="Maven">
	      <groupId>org.bouncycastle</groupId>
	      <artifactId>bcmail-fips</artifactId>
	      <version>2.1.6</version>
	      <type>jar</type>
		</location>
	</locations>
</target>
