<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="idempiere-12-local-mirror">
	<locations>
		<location path="${project_loc:org.idempiere.p2.targetplatform}/target/target-platform-repository" type="Directory"/>
	</locations>
</target>