<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="idempiere-201101" sequenceNumber="1606184870">
  <locations>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="com.sun.istack.commons-runtime" version="3.0.8"/>
      <unit id="com.sun.org.apache.xml.internal.resolver" version="20050927.0.0"/>
      <unit id="com.sun.xml.fastinfoset.FastInfoset" version="1.2.16"/>
      <unit id="com.sun.xml.messaging.saaj.impl" version="1.5.1"/>
      <unit id="com.sun.xml.stream.buffer.streambuffer" version="1.5.7"/>
      <unit id="com.sun.xml.ws.policy" version="2.7.6"/>
      <unit id="jakarta.xml.soap-api" version="1.4.1"/>
      <unit id="jakarta.xml.ws-api" version="2.3.2"/>
      <unit id="org.glassfish.external.management-api" version="3.2.1"/>
      <unit id="org.glassfish.gmbal.gmbal" version="4.0.0"/>
      <unit id="org.glassfish.jaxb.txw2" version="2.3.2"/>
      <unit id="org.glassfish.pfl.pfl-asm" version="4.0.1"/>
      <unit id="org.glassfish.pfl.pfl-basic" version="4.0.1"/>
      <unit id="org.glassfish.pfl.pfl-dynamic" version="4.0.1"/>
      <unit id="org.glassfish.pfl.pfl-tf" version="4.0.1"/>
      <unit id="org.jvnet.mimepull" version="1.9.11"/>
      <unit id="org.jvnet.staxex.stax-ex" version="1.8.1"/>
      <repository location="https://idempiere.github.io/binary.file/p2.maven/org.idempiere.webservice.client-p2-R20190412"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="zcommon" version="9.5.0.1"/>
      <unit id="zel" version="9.5.0.1"/>
      <unit id="zhtml" version="9.5.0.1"/>
      <unit id="zjavassist" version="9.5.0.1"/>
      <unit id="zk" version="9.5.0.1"/>
      <unit id="zkbind" version="9.5.0.1"/>
      <unit id="zkplus" version="9.5.0.1"/>
      <unit id="zkwebfragment" version="9.5.0.1"/>
      <unit id="zul" version="9.5.0.1"/>
      <unit id="zweb" version="9.5.0.1"/>
      <unit id="zweb-dsp" version="9.5.0.1"/>
      <repository location="https://idempiere.github.io/binary.file/p2.zk/9.5.0.1"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="bcmail" version="1.66.0"/>
      <unit id="bcpkix" version="1.66.0"/>
      <unit id="bcprov" version="1.66.0"/>
      <unit id="bctsp" version="1.46.0"/>
      <unit id="com.diffplug.osgi.extension.sun.misc" version="0.0.0"/>
      <unit id="com.fasterxml.jackson.core.jackson-annotations" version="2.10.1"/>
      <unit id="com.fasterxml.jackson.core.jackson-core" version="2.10.1"/>
      <unit id="com.fasterxml.jackson.core.jackson-databind" version="2.10.1"/>
      <unit id="com.fasterxml.jackson.dataformat.jackson-dataformat-xml" version="2.10.1"/>
      <unit id="com.fasterxml.jackson.datatype.jackson-datatype-guava" version="2.10.1"/>
      <unit id="com.fasterxml.jackson.datatype.jackson-datatype-joda" version="2.10.1"/>
      <unit id="com.fasterxml.jackson.datatype.jackson-datatype-json-org" version="2.10.1"/>
      <unit id="com.fasterxml.jackson.jaxrs.jackson-jaxrs-base" version="2.10.1"/>
      <unit id="com.fasterxml.jackson.jaxrs.jackson-jaxrs-json-provider" version="2.10.1"/>
      <unit id="com.fasterxml.jackson.jaxrs.jackson-jaxrs-xml-provider" version="2.10.1"/>
      <unit id="com.fasterxml.jackson.module.jackson-module-jaxb-annotations" version="2.10.1"/>
      <unit id="com.fasterxml.jackson.module.jackson-module-jsonSchema" version="2.10.1"/>
      <unit id="com.fasterxml.woodstox.woodstox-core" version="6.0.1"/>
      <unit id="com.github.relaxng.Datatype" version="2011.1.0"/>
      <unit id="com.google.zxing.core" version="3.4.0"/>
      <unit id="com.ibm.icu" version="67.1.0"/>
      <unit id="com.itextpdf" version="5.5.13.2"/>
      <unit id="com.jaspersoft.studio.bundles.barbecue" version="1.5.0.beta1_b02"/>
      <unit id="com.jaspersoft.studio.bundles.itext" version="2.1.7.js8_b01"/>
      <unit id="com.sun.activation.jakarta.activation" version="1.2.2"/>
      <unit id="com.sun.mail.gimap" version="1.6.5"/>
      <unit id="com.sun.mail.imap" version="1.6.5"/>
      <unit id="com.sun.mail.jakarta.mail" version="1.6.5"/>
      <unit id="com.sun.mail.smtp" version="1.6.5"/>
      <unit id="com.sun.xml.bind.jaxb-impl" version="2.3.2"/>
      <unit id="com.sun.xml.ws.jaxws-rt" version="2.3.2"/>
      <unit id="groovy" version="2.5.3"/>
      <unit id="groovy-console" version="2.5.3"/>
      <unit id="groovy-datetime" version="2.5.3"/>
      <unit id="groovy-json" version="2.5.3"/>
      <unit id="groovy-jsr223" version="2.5.3"/>
      <unit id="groovy-nio" version="2.5.3"/>
      <unit id="groovy-sql" version="2.5.3"/>
      <unit id="groovy-xml" version="2.5.3"/>
      <unit id="jakarta.annotation-api" version="1.3.5"/>
      <unit id="jakarta.jws-api" version="1.1.1"/>
      <unit id="jakarta.mail.api" version="1.6.5"/>
      <unit id="jakarta.persistence-api" version="2.2.3"/>
      <unit id="jakarta.ws.rs-api" version="2.1.6"/>
      <unit id="jakarta.xml.bind-api" version="2.3.2"/>
      <unit id="javax.enterprise.cdi-api" version="2.0.0.SP1"/>
      <unit id="javax.interceptor-api" version="1.2.2"/>
      <unit id="javax.transaction-api" version="1.3.0"/>
      <unit id="javax.validation.api" version="1.1.0.Final"/>
      <unit id="javax.validation.api" version="2.0.1.Final"/>
      <unit id="javax.websocket-api" version="1.1.0"/>
      <unit id="joda-time" version="2.10.8"/>
      <unit id="json" version="20180813.0.0"/>
      <unit id="net.sf.jasperreports.engine" version="6.15.0"/>
      <unit id="net.sf.supercsv.super-csv" version="2.4.0"/>
      <unit id="org.apache.activemq.activemq-core" version="5.7.0"/>
      <unit id="org.apache.activemq.kahadb" version="5.7.0"/>
      <unit id="org.apache.aries.spifly.dynamic.bundle" version="1.3.2"/>
      <unit id="org.apache.aries.util" version="1.1.3"/>
      <unit id="org.apache.commons.commons-collections4" version="4.4.0"/>
      <unit id="org.apache.commons.commons-configuration2" version="2.3.0"/>
      <unit id="org.apache.commons.digester" version="2.1.0"/>
      <unit id="org.apache.commons.discovery" version="0.5.0"/>
      <unit id="org.apache.cxf.cxf-core" version="3.3.1"/>
      <unit id="org.apache.cxf.cxf-rt-bindings-soap" version="3.3.1"/>
      <unit id="org.apache.cxf.cxf-rt-bindings-xml" version="3.3.1"/>
      <unit id="org.apache.cxf.cxf-rt-databinding-jaxb" version="3.3.1"/>
      <unit id="org.apache.cxf.cxf-rt-databinding-xmlbeans" version="3.1.18"/>
      <unit id="org.apache.cxf.cxf-rt-frontend-jaxrs" version="3.3.1"/>
      <unit id="org.apache.cxf.cxf-rt-frontend-jaxws" version="3.3.1"/>
      <unit id="org.apache.cxf.cxf-rt-frontend-simple" version="3.3.1"/>
      <unit id="org.apache.cxf.cxf-rt-rs-extension-providers" version="3.1.18"/>
      <unit id="org.apache.cxf.cxf-rt-rs-service-description" version="3.3.1"/>
      <unit id="org.apache.cxf.cxf-rt-security" version="3.3.1"/>
      <unit id="org.apache.cxf.cxf-rt-transports-http" version="3.3.1"/>
      <unit id="org.apache.cxf.cxf-rt-transports-http-jetty" version="3.3.1"/>
      <unit id="org.apache.cxf.cxf-rt-ws-addr" version="3.3.1"/>
      <unit id="org.apache.cxf.cxf-rt-ws-policy" version="3.3.1"/>
      <unit id="org.apache.cxf.cxf-rt-wsdl" version="3.3.1"/>
      <unit id="org.apache.cxf.rt-ws-transfer" version="3.3.1"/>
      <unit id="org.apache.felix.webconsole" version="4.3.8"/>
      <unit id="org.apache.geronimo.specs.geronimo-j2ee-management_1.1_spec" version="1.0.1"/>
      <unit id="org.apache.neethi" version="3.1.1"/>
      <unit id="org.apache.poi.poi" version="4.1.2"/>
      <unit id="org.apache.poi.poi-ooxml" version="4.1.2"/>
      <unit id="org.apache.poi.poi-ooxml-schemas" version="4.1.2"/>
      <unit id="org.apache.servicemix.bundles.cglib" version="3.2.6.1"/>
      <unit id="org.apache.servicemix.bundles.jaxen" version="1.1.6.1"/>
      <unit id="org.apache.servicemix.bundles.rhino" version="1.7.11.1"/>
      <unit id="org.apache.servicemix.bundles.spring-aop" version="4.3.19.RELEASE_1"/>
      <unit id="org.apache.servicemix.bundles.spring-aop.source.sources" version="4.3.19.RELEASE_1"/>
      <unit id="org.apache.servicemix.bundles.spring-beans" version="4.3.19.RELEASE_1"/>
      <unit id="org.apache.servicemix.bundles.spring-beans.source.sources" version="4.3.19.RELEASE_1"/>
      <unit id="org.apache.servicemix.bundles.spring-context" version="4.3.19.RELEASE_1"/>
      <unit id="org.apache.servicemix.bundles.spring-context-support" version="4.3.19.RELEASE_1"/>
      <unit id="org.apache.servicemix.bundles.spring-context-support.source.sources" version="4.3.19.RELEASE_1"/>
      <unit id="org.apache.servicemix.bundles.spring-context.source.sources" version="4.3.19.RELEASE_1"/>
      <unit id="org.apache.servicemix.bundles.spring-core" version="4.3.19.RELEASE_1"/>
      <unit id="org.apache.servicemix.bundles.spring-core.source.sources" version="4.3.19.RELEASE_1"/>
      <unit id="org.apache.servicemix.bundles.spring-expression" version="4.3.19.RELEASE_1"/>
      <unit id="org.apache.servicemix.bundles.spring-expression.source.sources" version="4.3.19.RELEASE_1"/>
      <unit id="org.apache.servicemix.bundles.spring-web" version="4.3.19.RELEASE_1"/>
      <unit id="org.apache.servicemix.bundles.spring-web.source.sources" version="4.3.19.RELEASE_1"/>
      <unit id="org.apache.servicemix.bundles.wsdl4j" version="1.6.3.1"/>
      <unit id="org.apache.servicemix.bundles.xerces" version="2.9.1.5"/>
      <unit id="org.apache.taglibs.standard-impl" version="1.2.5"/>
      <unit id="org.apache.taglibs.standard-jstlel" version="1.2.5"/>
      <unit id="org.apache.taglibs.taglibs-standard-spec" version="1.2.5"/>
      <unit id="org.apache.ws.xmlschema.core" version="2.2.3"/>
      <unit id="org.apache.xmlbeans" version="3.1.0"/>
      <unit id="org.apache.xmlgraphics.batik-anim" version="1.11.0"/>
      <unit id="org.apache.xmlgraphics.batik-awt-util" version="1.11.0"/>
      <unit id="org.apache.xmlgraphics.batik-bridge" version="1.11.0"/>
      <unit id="org.apache.xmlgraphics.batik-codec" version="1.11.0"/>
      <unit id="org.apache.xmlgraphics.batik-constants" version="1.11.0"/>
      <unit id="org.apache.xmlgraphics.batik-css" version="1.11.0"/>
      <unit id="org.apache.xmlgraphics.batik-dom" version="1.11.0"/>
      <unit id="org.apache.xmlgraphics.batik-ext" version="1.11.0"/>
      <unit id="org.apache.xmlgraphics.batik-extension" version="1.11.0"/>
      <unit id="org.apache.xmlgraphics.batik-gvt" version="1.11.0"/>
      <unit id="org.apache.xmlgraphics.batik-i18n" version="1.11.0"/>
      <unit id="org.apache.xmlgraphics.batik-parser" version="1.11.0"/>
      <unit id="org.apache.xmlgraphics.batik-script" version="1.11.0"/>
      <unit id="org.apache.xmlgraphics.batik-svg-dom" version="1.11.0"/>
      <unit id="org.apache.xmlgraphics.batik-svggen" version="1.11.0"/>
      <unit id="org.apache.xmlgraphics.batik-util" version="1.11.0"/>
      <unit id="org.apache.xmlgraphics.batik-xml" version="1.11.0"/>
      <unit id="org.atmosphere.runtime" version="2.6.4"/>
      <unit id="org.cryptacular" version="1.2.4"/>
      <unit id="org.eclipse.jetty.annotations" version="9.4.33.v20201020"/>
      <unit id="org.eclipse.jetty.apache-jsp" version="9.4.33.v20201020"/>
      <unit id="org.eclipse.jetty.client" version="9.4.33.v20201020"/>
      <unit id="org.eclipse.jetty.continuation" version="9.4.33.v20201020"/>
      <unit id="org.eclipse.jetty.deploy" version="9.4.33.v20201020"/>
      <unit id="org.eclipse.jetty.http" version="9.4.33.v20201020"/>
      <unit id="org.eclipse.jetty.io" version="9.4.33.v20201020"/>
      <unit id="org.eclipse.jetty.jaas" version="9.4.33.v20201020"/>
      <unit id="org.eclipse.jetty.jmx" version="9.4.33.v20201020"/>
      <unit id="org.eclipse.jetty.jndi" version="9.4.33.v20201020"/>
      <unit id="org.eclipse.jetty.osgi-servlet-api" version="3.1.0.M3"/>
      <unit id="org.eclipse.jetty.osgi.boot" version="9.4.33.v20201020"/>
      <unit id="org.eclipse.jetty.osgi.boot.jsp" version="9.4.33.v20201020"/>
      <unit id="org.eclipse.jetty.osgi.httpservice" version="9.4.33.v20201020"/>
      <unit id="org.eclipse.jetty.plus" version="9.4.33.v20201020"/>
      <unit id="org.eclipse.jetty.security" version="9.4.33.v20201020"/>
      <unit id="org.eclipse.jetty.server" version="9.4.33.v20201020"/>
      <unit id="org.eclipse.jetty.servlet" version="9.4.33.v20201020"/>
      <unit id="org.eclipse.jetty.servlets" version="9.4.33.v20201020"/>
      <unit id="org.eclipse.jetty.util" version="9.4.33.v20201020"/>
      <unit id="org.eclipse.jetty.util.ajax" version="9.4.33.v20201020"/>
      <unit id="org.eclipse.jetty.webapp" version="9.4.33.v20201020"/>
      <unit id="org.eclipse.jetty.websocket.api" version="9.4.33.v20201020"/>
      <unit id="org.eclipse.jetty.websocket.client" version="9.4.33.v20201020"/>
      <unit id="org.eclipse.jetty.websocket.common" version="9.4.33.v20201020"/>
      <unit id="org.eclipse.jetty.websocket.javax.websocket" version="9.4.33.v20201020"/>
      <unit id="org.eclipse.jetty.websocket.javax.websocket.server" version="9.4.33.v20201020"/>
      <unit id="org.eclipse.jetty.websocket.server" version="9.4.33.v20201020"/>
      <unit id="org.eclipse.jetty.websocket.servlet" version="9.4.33.v20201020"/>
      <unit id="org.eclipse.jetty.xml" version="9.4.33.v20201020"/>
      <unit id="org.glassfish.hk2.osgi-resource-locator" version="1.0.3"/>
      <unit id="org.jfree.chart" version="1.0.19"/>
      <unit id="org.jfree.jcommon" version="1.0.23"/>
      <unit id="org.krysalis.barcode4j" version="2.1.0"/>
      <unit id="org.mortbay.jasper.apache-el" version="8.5.54"/>
      <unit id="org.mortbay.jasper.apache-jsp" version="8.5.54"/>
      <unit id="org.objectweb.asm" version="9.0.0"/>
      <unit id="org.objectweb.asm.commons" version="9.0.0"/>
      <unit id="org.objectweb.asm.tree" version="9.0.0"/>
      <unit id="org.objectweb.asm.tree.analysis" version="9.0.0"/>
      <unit id="org.objectweb.asm.util" version="9.0.0"/>
      <unit id="org.passay" version="1.6.0"/>
      <unit id="org.springframework.spring-jcl" version="5.1.1.RELEASE"/>
      <unit id="org.w3c.dom.smil" version="1.0.0.v200806040011"/>
      <unit id="org.zkoss.zsoup" version="1.8.2.5"/>
      <unit id="slf4j.api" version="1.7.25"/>
      <unit id="slf4j.jcl" version="1.7.25"/>
      <unit id="stax2-api" version="4.2.0"/>
      <repository location="https://idempiere.github.io/binary.file/p2.maven/maven-p2-R20201101"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.osgi" version="3.16.0.v20200828-0759"/>
      <unit id="org.apache.commons.codec" version="1.13.0.v20200108-0001"/>
      <unit id="org.apache.commons.logging" version="1.2.0.v20180409-1502"/>
      <unit id="org.apache.felix.gogo.command" version="1.0.2.v20170914-1324"/>
      <unit id="org.apache.felix.gogo.runtime" version="1.1.0.v20180713-1646"/>
      <unit id="org.apache.felix.gogo.shell" version="1.1.0.v20180713-1646"/>
      <unit id="org.apache.felix.scr" version="2.1.16.v20200110-1820"/>
      <unit id="org.apache.httpcomponents.httpclient" version="4.5.10.v20200114-1512"/>
      <unit id="org.apache.httpcomponents.httpcore" version="4.4.12.v20200108-1212"/>
      <unit id="org.eclipse.core.jobs" version="3.10.800.v20200421-0950"/>
      <unit id="org.eclipse.ecf" version="3.9.100.v20200611-2221"/>
      <unit id="org.eclipse.ecf.filetransfer" version="5.1.100.v20200611-2221"/>
      <unit id="org.eclipse.ecf.identity" version="3.9.400.v20200611-2221"/>
      <unit id="org.eclipse.ecf.provider.filetransfer" version="3.2.600.v20200611-2221"/>
      <unit id="org.eclipse.ecf.provider.filetransfer.httpclient45" version="1.0.300.v20200611-1836"/>
      <unit id="org.eclipse.ecf.provider.filetransfer.ssl" version="1.0.200.v20200611-1836"/>
      <unit id="org.eclipse.equinox.app" version="1.5.0.v20200717-0620"/>
      <unit id="org.eclipse.equinox.common" version="3.13.0.v20200828-1034"/>
      <unit id="org.eclipse.equinox.concurrent" version="1.1.500.v20200106-1437"/>
      <unit id="org.eclipse.equinox.console" version="1.4.200.v20200828-1034"/>
      <unit id="org.eclipse.equinox.ds" version="1.6.200.v20200422-1833"/>
      <unit id="org.eclipse.equinox.frameworkadmin" version="2.1.400.v20191002-0702"/>
      <unit id="org.eclipse.equinox.frameworkadmin.equinox" version="1.1.400.v20200319-1546"/>
      <unit id="org.eclipse.equinox.launcher" version="1.5.800.v20200727-1323"/>
      <unit id="org.eclipse.equinox.p2.artifact.repository" version="1.3.500.v20200406-2025"/>
      <unit id="org.eclipse.equinox.p2.console" version="1.1.300.v20191014-1219"/>
      <unit id="org.eclipse.equinox.p2.core" version="2.6.300.v20200211-1504"/>
      <unit id="org.eclipse.equinox.p2.director" version="2.4.700.v20200511-1530"/>
      <unit id="org.eclipse.equinox.p2.engine" version="2.6.700.v20200511-1530"/>
      <unit id="org.eclipse.equinox.p2.garbagecollector" version="1.1.400.v20200221-1022"/>
      <unit id="org.eclipse.equinox.p2.jarprocessor" version="1.1.600.v20200217-1130"/>
      <unit id="org.eclipse.equinox.p2.metadata" version="2.5.0.v20200511-1530"/>
      <unit id="org.eclipse.equinox.p2.metadata.repository" version="1.3.400.v20191211-1528"/>
      <unit id="org.eclipse.equinox.p2.repository" version="2.4.800.v20200813-0739"/>
      <unit id="org.eclipse.equinox.p2.touchpoint.eclipse" version="2.2.700.v20200813-0739"/>
      <unit id="org.eclipse.equinox.p2.touchpoint.natives" version="1.3.600.v20200511-1530"/>
      <unit id="org.eclipse.equinox.p2.transport.ecf" version="1.2.400.v20200123-2221"/>
      <unit id="org.eclipse.equinox.preferences" version="3.8.0.v20200422-1833"/>
      <unit id="org.eclipse.equinox.registry" version="3.9.0.v20200625-1425"/>
      <unit id="org.eclipse.equinox.security" version="1.3.500.v20200114-1637"/>
      <unit id="org.eclipse.equinox.simpleconfigurator" version="1.3.600.v20200721-1308"/>
      <unit id="org.eclipse.equinox.simpleconfigurator.manipulator" version="2.1.500.v20200211-1505"/>
      <unit id="org.eclipse.osgi.services" version="3.9.0.v20200511-1725"/>
      <unit id="org.eclipse.osgi.util" version="3.5.300.v20190708-1141"/>
      <unit id="org.sat4j.core" version="2.3.5.v201308161310"/>
      <unit id="org.sat4j.pb" version="2.3.5.v201404071733"/>
      <unit id="org.tukaani.xz" version="1.8.0.v20180207-1613"/>
      <unit id="org.eclipse.equinox.executable.feature.group" version="3.8.900.v20200819-0940"/>
      <unit id="org.eclipse.equinox.http.registry" version="1.2.0.v20200614-1851"/>
      <unit id="org.eclipse.osgi.compatibility.state" version="1.2.100.v20200811-1344"/>
      <unit id="org.eclipse.core.runtime" version="3.19.0.v20200724-1004"/>
      <unit id="org.eclipse.equinox.http.servlet" version="1.6.600.v20200707-1543"/>
      <unit id="org.eclipse.equinox.servletbridge" version="1.6.0.v20200511-1902"/>
      <unit id="org.eclipse.equinox.p2.director.app" version="1.1.600.v20200511-1530"/>
      <unit id="org.eclipse.equinox.cm" version="1.4.400.v20200422-1833"/>
      <unit id="org.eclipse.equinox.event" version="1.5.500.v20200616-0800"/>
      <unit id="org.eclipse.equinox.http.servletbridge" version="1.1.200.v20200422-1833"/>
      <unit id="org.eclipse.equinox.metatype" version="1.5.300.v20200422-1833"/>
      <unit id="org.eclipse.ant.core" version="3.5.800.v20200608-1251"/>
      <unit id="org.eclipse.core.commands" version="3.9.700.v20191217-1850"/>
      <unit id="org.eclipse.core.contenttype" version="3.7.800.v20200724-0804"/>
      <unit id="org.eclipse.core.expressions" version="3.7.0.v20200720-1126"/>
      <unit id="org.eclipse.core.filesystem" version="1.7.700.v20200110-1734"/>
      <unit id="org.eclipse.core.net" version="1.3.1000.v20200715-0827"/>
      <unit id="org.eclipse.core.resources" version="3.13.800.v20200706-2152"/>
      <unit id="org.eclipse.core.variables" version="3.4.800.v20200120-1101"/>
      <unit id="org.eclipse.jdt.core" version="3.23.0.v20200828-0941"/>
      <unit id="org.eclipse.text" version="3.10.300.v20200807-0831"/>
      <unit id="org.opentest4j" version="1.2.0.v20190826-0900"/>
      <unit id="org.apiguardian" version="1.1.0.v20190826-0900"/>
      <unit id="org.junit" version="4.13.0.v20200204-1500"/>
      <unit id="org.junit.jupiter.api" version="5.6.0.v20200203-2009"/>
      <unit id="org.junit.jupiter.params" version="5.6.0.v20200203-2009"/>
      <unit id="org.junit.jupiter.engine" version="5.6.0.v20200203-2009"/>
      <unit id="org.junit.jupiter.migrationsupport" version="5.6.0.v20200203-2009"/>
      <unit id="org.junit.vintage.engine" version="5.6.0.v20200203-2009"/>
      <unit id="org.junit.platform.engine" version="1.6.0.v20200203-2009"/>
      <unit id="org.junit.platform.commons" version="1.6.0.v20200203-2009"/>
      <unit id="org.junit.platform.launcher" version="1.6.0.v20200203-2009"/>
      <unit id="org.junit.platform.runner" version="1.6.0.v20200203-2009"/>
      <unit id="org.junit.platform.suite.api" version="1.6.0.v20200203-2009"/>
      <unit id="org.eclipse.pde.junit.runtime" version="3.5.900.v20200810-0835"/>
      <unit id="org.eclipse.jdt.junit.runtime" version="3.5.300.v20200720-0748"/>
      <unit id="org.eclipse.jdt.junit5.runtime" version="1.0.1000.v20200720-0748"/>
      <repository location="https://download.eclipse.org/eclipse/updates/4.17"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="com.google.gson" version="2.8.2.v20180104-1110"/>
      <unit id="com.google.guava" version="27.1.0.v20190517-1946"/>
      <unit id="javax.inject" version="1.0.0.v20091030"/>
      <unit id="javax.jms" version="1.1.0.v201205091237"/>
      <unit id="org.antlr.runtime" version="4.7.2.v20200218-0804"/>
      <unit id="org.aopalliance" version="1.0.0.v201105210816"/>
      <unit id="org.apache.ant" version="1.10.8.v20200515-1239"/>
      <unit id="org.apache.commons.beanutils" version="1.8.0.v201205091237"/>
      <unit id="org.apache.commons.collections" version="3.2.2.v201511171945"/>
      <unit id="org.apache.commons.compress" version="1.19.0.v20200106-2343"/>
      <unit id="org.apache.commons.fileupload" version="1.3.2.v20170320-2229"/>
      <unit id="org.apache.commons.io" version="2.6.0.v20190123-2029"/>
      <unit id="org.apache.commons.lang3" version="3.1.0.v201403281430"/>
      <unit id="org.apache.commons.lang" version="2.6.0.v201404270220"/>
      <unit id="org.apache.commons.net" version="3.2.0.v201305141515"/>
      <unit id="org.apache.lucene.analyzers-common" version="8.4.1.v20200122-1459"/>
      <unit id="org.apache.lucene.core" version="8.4.1.v20200122-1459"/>
      <unit id="org.apache.xalan" version="2.7.1.v201005080400"/>
      <unit id="org.apache.xml.resolver" version="1.2.0.v201005080400"/>
      <unit id="org.apache.xml.serializer" version="2.7.1.v201005080400"/>
      <unit id="org.apache.xmlgraphics" version="2.4.0.v20200622-2037"/>
      <unit id="org.dom4j" version="2.1.1.v20190321-1528"/>
      <unit id="org.glassfish.hk2.api" version="2.6.1.v20200513-1859"/>
      <unit id="org.glassfish.hk2.locator" version="2.6.1.v20200513-1859"/>
      <unit id="org.glassfish.hk2.utils" version="2.6.1.v20200513-1859"/>
      <unit id="org.glassfish.jersey.inject.jersey-hk2" version="2.30.1.v20200512-1802"/>
      <unit id="org.glassfish.jersey.containers.servlet.core" version="2.30.1.v20200513-1859"/>
      <unit id="org.glassfish.jersey.core.jersey-client" version="2.30.1.v20200513-1859"/>
      <unit id="org.glassfish.jersey.core.jersey-common" version="2.30.1.v20200513-1859"/>
      <unit id="org.glassfish.jersey.core.jersey-server" version="2.30.1.v20200513-1859"/>
      <unit id="org.glassfish.jersey.ext.entityfiltering" version="2.30.1.v20200513-1859"/>
      <unit id="org.glassfish.jersey.media.jersey-media-json-jackson" version="2.30.1.v20200513-1859"/>
      <unit id="org.hamcrest.core" version="1.3.0.v20180420-1519"/>
      <unit id="org.w3c.css.sac" version="1.3.1.v200903091627"/>
      <unit id="org.w3c.dom.svg" version="1.1.0.v201011041433"/>
      <unit id="org.apache.commons.math3" version="3.6.1.v20200817-1830"/>
      <repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20200831200620/repository"/>
    </location>
  </locations>
</target>
