<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="org.idempiere.p2.repository">
	<locations>
		<location path="${project_loc:org.idempiere.p2}/target/repository" type="Directory"/>
	</locations>
	<includeBundles>
		<plugin id="bcmail"/>
		<plugin id="bcpg"/>
		<plugin id="bcpkix"/>
		<plugin id="bcprov"/>
		<plugin id="bctsp"/>
		<plugin id="bcutil"/>
		<plugin id="com.diffplug.osgi.extension.sun.misc"/>
		<plugin id="com.fasterxml.jackson.core.jackson-annotations"/>
		<plugin id="com.fasterxml.jackson.core.jackson-core"/>
		<plugin id="com.fasterxml.jackson.core.jackson-databind"/>
		<plugin id="com.fasterxml.jackson.dataformat.jackson-dataformat-xml"/>
		<plugin id="com.fasterxml.jackson.datatype.jackson-datatype-guava"/>
		<plugin id="com.fasterxml.jackson.datatype.jackson-datatype-joda"/>
		<plugin id="com.fasterxml.jackson.datatype.jackson-datatype-json-org"/>
		<plugin id="com.fasterxml.jackson.jaxrs.jackson-jaxrs-base"/>
		<plugin id="com.fasterxml.jackson.jaxrs.jackson-jaxrs-json-provider"/>
		<plugin id="com.fasterxml.jackson.jaxrs.jackson-jaxrs-xml-provider"/>
		<plugin id="com.fasterxml.jackson.module.jackson-module-jaxb-annotations"/>
		<plugin id="com.fasterxml.jackson.module.jackson-module-jsonSchema"/>
		<plugin id="com.fasterxml.jackson.module.jackson-module-jsonSchema.source"/>
		<plugin id="com.fasterxml.woodstox.woodstox-core"/>
		<plugin id="com.github.librepdf.openpdf"/>
		<plugin id="com.github.librepdf.openpdf-fonts-extra"/>
		<plugin id="com.google.gson"/>
		<plugin id="com.google.guava"/>
		<plugin id="com.google.guava.failureaccess"/>
		<plugin id="com.google.http-client.google-http-client"/>
		<plugin id="com.google.oauth-client"/>
		<plugin id="com.google.zxing.core"/>
		<plugin id="com.ibm.icu"/>
		<plugin id="com.jaspersoft.studio.bundles.barbecue"/>
		<plugin id="com.jaspersoft.studio.bundles.itext"/>
		<plugin id="com.sun.activation.jakarta.activation"/>
		<plugin id="com.sun.istack.commons-runtime"/>
		<plugin id="com.sun.mail.gimap"/>
		<plugin id="com.sun.mail.jakarta.mail"/>
		<plugin id="com.sun.xml.bind.external.relaxng-datatype"/>
		<plugin id="com.sun.xml.bind.jaxb-impl"/>
		<plugin id="com.sun.xml.fastinfoset.FastInfoset" version="2.0.0"/>
		<plugin id="com.sun.xml.fastinfoset.FastInfoset" version="1.2.18.v202109010034"/>
		<plugin id="com.sun.xml.messaging.saaj.impl"/>
		<plugin id="com.sun.xml.stream.buffer.streambuffer"/>
		<plugin id="com.sun.xml.ws.jaxws-rt"/>
		<plugin id="com.sun.xml.ws.policy"/>
		<plugin id="groovy"/>
		<plugin id="groovy-console"/>
		<plugin id="groovy-datetime"/>
		<plugin id="groovy-json"/>
		<plugin id="groovy-jsr223"/>
		<plugin id="groovy-nio"/>
		<plugin id="groovy-sql"/>
		<plugin id="groovy-xml"/>
		<plugin id="io.github.classgraph.classgraph"/>
		<plugin id="jakarta.annotation-api"/>
		<plugin id="jakarta.jws-api"/>
		<plugin id="jakarta.persistence-api"/>
		<plugin id="jakarta.transaction-api"/>
		<plugin id="jakarta.validation.jakarta.validation-api"/>
		<plugin id="jakarta.ws.rs-api"/>
		<plugin id="jakarta.xml.bind-api"/>
		<plugin id="jakarta.xml.soap-api"/>
		<plugin id="jakarta.xml.ws-api"/>
		<plugin id="javax.enterprise.cdi-api"/>
		<plugin id="javax.interceptor-api"/>
		<plugin id="javax.validation.api"/>
		<plugin id="javax.websocket-api"/>
		<plugin id="joda-time"/>
		<plugin id="json"/>
		<plugin id="net.sf.jasperreports.engine"/>
		<plugin id="net.sf.supercsv.super-csv"/>
		<plugin id="org.antlr.antlr4-runtime"/>
		<plugin id="org.apache.activemq.activemq-client"/>
		<plugin id="org.apache.ant"/>
		<plugin id="org.apache.aries.spifly.dynamic.bundle"/>
		<plugin id="org.apache.aries.util"/>
		<plugin id="org.apache.commons.collections"/>
		<plugin id="org.apache.commons.commons-beanutils"/>
		<plugin id="org.apache.commons.commons-codec"/>
		<plugin id="org.apache.commons.commons-collections4"/>
		<plugin id="org.apache.commons.commons-compress"/>
		<plugin id="org.apache.commons.commons-configuration2"/>
		<plugin id="org.apache.commons.commons-fileupload"/>
		<plugin id="org.apache.commons.commons-io"/>
		<plugin id="org.apache.commons.commons-net"/>
		<plugin id="org.apache.commons.commons-text"/>
		<plugin id="org.apache.commons.digester"/>
		<plugin id="org.apache.commons.discovery"/>
		<plugin id="org.apache.commons.lang"/>
		<plugin id="org.apache.commons.lang3"/>
		<plugin id="org.apache.commons.logging"/>
		<plugin id="org.apache.commons.math3"/>
		<plugin id="org.apache.cxf.cxf-core"/>
		<plugin id="org.apache.cxf.cxf-rt-bindings-soap"/>
		<plugin id="org.apache.cxf.cxf-rt-bindings-xml"/>
		<plugin id="org.apache.cxf.cxf-rt-databinding-jaxb"/>
		<plugin id="org.apache.cxf.cxf-rt-databinding-xmlbeans"/>
		<plugin id="org.apache.cxf.cxf-rt-frontend-jaxrs"/>
		<plugin id="org.apache.cxf.cxf-rt-frontend-jaxws"/>
		<plugin id="org.apache.cxf.cxf-rt-frontend-simple"/>
		<plugin id="org.apache.cxf.cxf-rt-rs-extension-providers"/>
		<plugin id="org.apache.cxf.cxf-rt-rs-service-description"/>
		<plugin id="org.apache.cxf.cxf-rt-security"/>
		<plugin id="org.apache.cxf.cxf-rt-transports-http"/>
		<plugin id="org.apache.cxf.cxf-rt-ws-addr"/>
		<plugin id="org.apache.cxf.cxf-rt-ws-policy"/>
		<plugin id="org.apache.cxf.cxf-rt-wsdl"/>
		<plugin id="org.apache.felix.gogo.command"/>
		<plugin id="org.apache.felix.gogo.runtime"/>
		<plugin id="org.apache.felix.gogo.shell"/>
		<plugin id="org.apache.felix.scr"/>
		<plugin id="org.apache.felix.webconsole"/>
		<plugin id="org.apache.geronimo.specs.geronimo-j2ee-management_1.1_spec"/>
		<plugin id="org.apache.geronimo.specs.geronimo-jms_1.1_spec"/>
		<plugin id="org.apache.httpcomponents.httpclient"/>
		<plugin id="org.apache.httpcomponents.httpcore"/>
		<plugin id="org.apache.neethi"/>
		<plugin id="org.apache.poi.ooxml-schemas"/>
		<plugin id="org.apache.servicemix.bundles.batik"/>
		<plugin id="org.apache.servicemix.bundles.cglib"/>
		<plugin id="org.apache.servicemix.bundles.jaxen"/>
		<plugin id="org.apache.servicemix.bundles.rhino"/>
		<plugin id="org.apache.servicemix.bundles.xerces"/>
		<plugin id="org.apache.taglibs.standard-impl"/>
		<plugin id="org.apache.taglibs.taglibs-standard-spec"/>
		<plugin id="org.apache.ws.xmlschema.core"/>
		<plugin id="org.apache.xalan"/>
		<plugin id="org.apache.xml.resolver"/>
		<plugin id="org.apache.xml.serializer"/>
		<plugin id="org.apiguardian"/>
		<plugin id="org.atmosphere.runtime"/>
		<plugin id="org.codehaus.jettison.jettison"/>
		<plugin id="org.cryptacular"/>
		<plugin id="org.eclipse.ant.core"/>
		<plugin id="org.eclipse.core.commands"/>
		<plugin id="org.eclipse.core.contenttype"/>
		<plugin id="org.eclipse.core.expressions"/>
		<plugin id="org.eclipse.core.filesystem"/>
		<plugin id="org.eclipse.core.jobs"/>
		<plugin id="org.eclipse.core.net"/>
		<plugin id="org.eclipse.core.resources"/>
		<plugin id="org.eclipse.core.runtime"/>
		<plugin id="org.eclipse.core.variables"/>
		<plugin id="org.eclipse.ecf"/>
		<plugin id="org.eclipse.ecf.filetransfer"/>
		<plugin id="org.eclipse.ecf.identity"/>
		<plugin id="org.eclipse.ecf.provider.filetransfer"/>
		<plugin id="org.eclipse.ecf.provider.filetransfer.ssl"/>
		<plugin id="org.eclipse.equinox.app"/>
		<plugin id="org.eclipse.equinox.cm"/>
		<plugin id="org.eclipse.equinox.common"/>
		<plugin id="org.eclipse.equinox.concurrent"/>
		<plugin id="org.eclipse.equinox.console"/>
		<plugin id="org.eclipse.equinox.event"/>
		<plugin id="org.eclipse.equinox.frameworkadmin"/>
		<plugin id="org.eclipse.equinox.frameworkadmin.equinox"/>
		<plugin id="org.eclipse.equinox.http.registry"/>
		<plugin id="org.eclipse.equinox.http.servlet"/>
		<plugin id="org.eclipse.equinox.http.servletbridge"/>
		<plugin id="org.eclipse.equinox.launcher"/>
		<plugin id="org.eclipse.equinox.launcher.cocoa.macosx.x86_64"/>
		<plugin id="org.eclipse.equinox.launcher.gtk.linux.x86_64"/>
		<plugin id="org.eclipse.equinox.launcher.win32.win32.x86_64"/>
		<plugin id="org.eclipse.equinox.metatype"/>
		<plugin id="org.eclipse.equinox.p2.artifact.repository"/>
		<plugin id="org.eclipse.equinox.p2.console"/>
		<plugin id="org.eclipse.equinox.p2.core"/>
		<plugin id="org.eclipse.equinox.p2.director"/>
		<plugin id="org.eclipse.equinox.p2.director.app"/>
		<plugin id="org.eclipse.equinox.p2.engine"/>
		<plugin id="org.eclipse.equinox.p2.garbagecollector"/>
		<plugin id="org.eclipse.equinox.p2.jarprocessor"/>
		<plugin id="org.eclipse.equinox.p2.metadata"/>
		<plugin id="org.eclipse.equinox.p2.metadata.repository"/>
		<plugin id="org.eclipse.equinox.p2.repository"/>
		<plugin id="org.eclipse.equinox.p2.touchpoint.eclipse"/>
		<plugin id="org.eclipse.equinox.p2.touchpoint.natives"/>
		<plugin id="org.eclipse.equinox.p2.transport.ecf"/>
		<plugin id="org.eclipse.equinox.preferences"/>
		<plugin id="org.eclipse.equinox.registry"/>
		<plugin id="org.eclipse.equinox.security"/>
		<plugin id="org.eclipse.equinox.servletbridge"/>
		<plugin id="org.eclipse.equinox.simpleconfigurator"/>
		<plugin id="org.eclipse.equinox.simpleconfigurator.manipulator"/>
		<plugin id="org.eclipse.jdt.core"/>
		<plugin id="org.eclipse.jdt.junit.runtime"/>
		<plugin id="org.eclipse.jetty.alpn.client"/>
		<plugin id="org.eclipse.jetty.annotations"/>
		<plugin id="org.eclipse.jetty.apache-jsp"/>
		<plugin id="org.eclipse.jetty.apache.jstl"/>
		<plugin id="org.eclipse.jetty.client"/>
		<plugin id="org.eclipse.jetty.deploy"/>
		<plugin id="org.eclipse.jetty.http"/>
		<plugin id="org.eclipse.jetty.io"/>
		<plugin id="org.eclipse.jetty.jaas"/>
		<plugin id="org.eclipse.jetty.jmx"/>
		<plugin id="org.eclipse.jetty.jndi"/>
		<plugin id="org.eclipse.jetty.osgi.boot"/>
		<plugin id="org.eclipse.jetty.osgi.boot.jsp"/>
		<plugin id="org.eclipse.jetty.osgi.boot.warurl"/>
		<plugin id="org.eclipse.jetty.osgi.httpservice"/>
		<plugin id="org.eclipse.jetty.plus"/>
		<plugin id="org.eclipse.jetty.rewrite"/>
		<plugin id="org.eclipse.jetty.security"/>
		<plugin id="org.eclipse.jetty.server"/>
		<plugin id="org.eclipse.jetty.servlet"/>
		<plugin id="org.eclipse.jetty.servlet-api"/>
		<plugin id="org.eclipse.jetty.servlets"/>
		<plugin id="org.eclipse.jetty.util"/>
		<plugin id="org.eclipse.jetty.util.ajax"/>
		<plugin id="org.eclipse.jetty.webapp"/>
		<plugin id="org.eclipse.jetty.websocket.api"/>
		<plugin id="org.eclipse.jetty.websocket.common"/>
		<plugin id="org.eclipse.jetty.websocket.core.client"/>
		<plugin id="org.eclipse.jetty.websocket.core.common"/>
		<plugin id="org.eclipse.jetty.websocket.core.server"/>
		<plugin id="org.eclipse.jetty.websocket.javax.client"/>
		<plugin id="org.eclipse.jetty.websocket.javax.common"/>
		<plugin id="org.eclipse.jetty.websocket.javax.server"/>
		<plugin id="org.eclipse.jetty.websocket.server"/>
		<plugin id="org.eclipse.jetty.websocket.servlet"/>
		<plugin id="org.eclipse.jetty.xml"/>
		<plugin id="org.eclipse.osgi"/>
		<plugin id="org.eclipse.osgi.compatibility.state"/>
		<plugin id="org.eclipse.osgi.services"/>
		<plugin id="org.eclipse.osgi.util"/>
		<plugin id="org.eclipse.pde.junit.runtime"/>
		<plugin id="org.eclipse.text"/>
		<plugin id="org.fusesource.hawtbuf.hawtbuf"/>
		<plugin id="org.glassfish.external.management-api"/>
		<plugin id="org.glassfish.gmbal.gmbal"/>
		<plugin id="org.glassfish.ha.ha-api"/>
		<plugin id="org.glassfish.hk2.api"/>
		<plugin id="org.glassfish.hk2.external.aopalliance-repackaged"/>
		<plugin id="org.glassfish.hk2.external.jakarta.inject"/>
		<plugin id="org.glassfish.hk2.locator"/>
		<plugin id="org.glassfish.hk2.osgi-resource-locator"/>
		<plugin id="org.glassfish.hk2.utils"/>
		<plugin id="org.glassfish.jersey.containers.jersey-container-servlet-core"/>
		<plugin id="org.glassfish.jersey.core.jersey-client"/>
		<plugin id="org.glassfish.jersey.core.jersey-common"/>
		<plugin id="org.glassfish.jersey.core.jersey-server"/>
		<plugin id="org.glassfish.jersey.ext.jersey-entity-filtering"/>
		<plugin id="org.glassfish.jersey.inject.jersey-hk2"/>
		<plugin id="org.glassfish.jersey.media.jersey-media-json-jackson"/>
		<plugin id="org.glassfish.pfl.pfl-asm"/>
		<plugin id="org.glassfish.pfl.pfl-basic"/>
		<plugin id="org.glassfish.pfl.pfl-dynamic"/>
		<plugin id="org.glassfish.pfl.pfl-tf"/>
		<plugin id="org.hamcrest.core"/>
		<plugin id="org.junit"/>
		<plugin id="org.junit.jupiter.api"/>
		<plugin id="org.junit.jupiter.engine"/>
		<plugin id="org.junit.jupiter.migrationsupport"/>
		<plugin id="org.junit.jupiter.params"/>
		<plugin id="org.junit.platform.commons"/>
		<plugin id="org.junit.platform.engine"/>
		<plugin id="org.junit.platform.launcher"/>
		<plugin id="org.junit.platform.runner"/>
		<plugin id="org.junit.platform.suite.api"/>
		<plugin id="org.junit.platform.suite.commons"/>
		<plugin id="org.junit.vintage.engine"/>
		<plugin id="org.jvnet.mimepull"/>
		<plugin id="org.jvnet.staxex.stax-ex"/>
		<plugin id="org.krysalis.barcode4j"/>
		<plugin id="org.mortbay.jasper.apache-el"/>
		<plugin id="org.mortbay.jasper.apache-jsp"/>
		<plugin id="org.objectweb.asm"/>
		<plugin id="org.objectweb.asm.commons"/>
		<plugin id="org.objectweb.asm.tree"/>
		<plugin id="org.objectweb.asm.tree.analysis"/>
		<plugin id="org.objectweb.asm.util"/>
		<plugin id="org.opentest4j"/>
		<plugin id="org.passay"/>
		<plugin id="org.sat4j.core"/>
		<plugin id="org.sat4j.pb"/>
		<plugin id="org.tukaani.xz"/>
		<plugin id="org.w3c.css.sac"/>
		<plugin id="org.w3c.dom.events"/>
		<plugin id="org.w3c.dom.smil"/>
		<plugin id="org.w3c.dom.svg"/>
		<plugin id="org.zkoss.zsoup"/>
		<plugin id="slf4j.api"/>
		<plugin id="slf4j.jcl"/>
		<plugin id="stax2-api"/>
		<plugin id="wrapped.com.google.http-client.google-http-client-gson"/>
		<plugin id="wrapped.com.google.zxing.javase"/>
		<plugin id="wrapped.com.sun.net.httpserver.http"/>
		<plugin id="wrapped.com.sun.org.apache.xml.internal.resolver"/>
		<plugin id="wrapped.com.zaxxer.SparseBitSet"/>
		<plugin id="wrapped.dev.samstevens.totp.totp"/>
		<plugin id="wrapped.io.grpc.grpc-context"/>
		<plugin id="wrapped.io.opencensus.opencensus-api"/>
		<plugin id="wrapped.io.opencensus.opencensus-contrib-http-util"/>
		<plugin id="wrapped.org.apache.activemq.activemq-jaas"/>
		<plugin id="wrapped.org.apache.activemq.activemq-kahadb-store"/>
		<plugin id="wrapped.org.apache.activemq.activemq-openwire-legacy"/>
		<plugin id="wrapped.org.apache.activemq.protobuf.activemq-protobuf"/>
		<plugin id="wrapped.org.apache.cxf.cxf-rt-ws-transfer"/>
		<plugin id="wrapped.org.apache.lucene.lucene-analyzers-common"/>
		<plugin id="wrapped.org.apache.lucene.lucene-core"/>
		<plugin id="wrapped.org.apache.poi.poi"/>
		<plugin id="wrapped.org.apache.poi.poi-ooxml"/>
		<plugin id="wrapped.org.apache.xmlbeans.xmlbeans"/>
		<plugin id="wrapped.org.apache.xmlgraphics.xmlgraphics-commons"/>
		<plugin id="wrapped.org.dom4j.dom4j"/>
		<plugin id="wrapped.org.glassfish.jaxb.txw2"/>
		<plugin id="wrapped.org.jfree.jcommon"/>
		<plugin id="wrapped.org.jfree.jfreechart"/>
		<plugin id="wrapped.org.springframework.spring-aop"/>
		<plugin id="wrapped.org.springframework.spring-beans"/>
		<plugin id="wrapped.org.springframework.spring-context"/>
		<plugin id="wrapped.org.springframework.spring-context-support"/>
		<plugin id="wrapped.org.springframework.spring-core"/>
		<plugin id="wrapped.org.springframework.spring-expression"/>
		<plugin id="wrapped.org.springframework.spring-web"/>
		<plugin id="wrapped.wsdl4j.wsdl4j"/>
		<plugin id="xstream"/>
		<plugin id="zcommon"/>
		<plugin id="zel"/>
		<plugin id="zhtml"/>
		<plugin id="zjavassist"/>
		<plugin id="zk"/>
		<plugin id="zkbind"/>
		<plugin id="zkplus"/>
		<plugin id="zkwebfragment"/>
		<plugin id="zul"/>
		<plugin id="zweb"/>
		<plugin id="zweb-dsp"/>
		<plugin id="org.apache.httpcomponents.client5.httpclient5"/>
		<plugin id="org.apache.httpcomponents.core5.httpcore5"/>
		<plugin id="org.apache.httpcomponents.core5.httpcore5-h2"/>
		<plugin id="org.eclipse.ecf.provider.filetransfer.httpclient5"/>
	</includeBundles>
</target>