<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.adempiere.base.IColumnCallout">
      <client
            class="org.adempiere.testplugin.MyCallout1"
            columnName="Description"
            tableName="C_Order">
      </client>
      <client
            class="testplugin.ColumnCallout1"
            columnName="TestPlugin.client1"
            tableName="TestPlugin.client1">
      </client>
   </extension>

</plugin>
