<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<!--
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
         <servlet
              alias="/equinox-bridge/zkLoader"
              class="org.adempiere.webui.session.WebUIServlet">
			<init-param>
				<param-name>update-uri</param-name>
				<param-value>/zkau</param-value>
			</init-param>
        </servlet>
   </extension>
-->
</plugin>
