<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.adempiere.osgi.IMenuAction" name="MenuAction" schema="schema/org.adempiere.osgi.IMenuAction.exsd"/>
   <extension-point id="org.adempiere.apps.Form" name="Form" schema="schema/org.adempiere.apps.Form.exsd"/>
   <extension-point id="org.adempiere.osgi.IInfoFactory" name="Info Factory extension" schema="schema/org.adempiere.osgi.IInfoFactory.exsd"/>
   <extension
         id="RF"
         name="RF"
         point="org.adempiere.base.IResourceFinder">
      <finder
            class="org.compiere.util.ResourceFinder">
      </finder>
   </extension>
   <extension
         id="org.adempiere.ui.swing.client"
         name="Adempiere Swing Client"
         point="org.eclipse.core.runtime.applications">
         <application>
         	<run class="org.adempiere.client.Application" />
		 </application>
   </extension>
   <extension
         point="org.compiere.print.ReportViewerProvider">
      <provider
            class="org.compiere.print.SwingViewerProvider">
      </provider>
   </extension>
   <extension
         point="org.compiere.interfaces.Server">
      <interface
            class="org.adempiere.client.ServerInterface">
      </interface>
   </extension>
   <extension
         point="org.compiere.interfaces.Status">
      <interface
            class="org.adempiere.client.StatusInterface">
      </interface>
   </extension>
   <extension
         id="client_product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.adempiere.ui.swing.client"
            name="Adempiere Swing Client">
         <property
               name="appName"
               value="Adempiere Swing Client">
         </property>
      </product>
   </extension>
   <extension
         id="org.adempiere.osgi.DefaultInfoFactory"
         name="Default Info Factory"
         point="org.adempiere.osgi.IInfoFactory">
      <factory
            class="org.adempiere.osgi.DefaultInfoFactory"
            priority="0">
      </factory>
   </extension>

</plugin>
