<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.adempiere.pipo.packOutHandlers" name="Packout Handlers" schema="schema/org.adempiere.pipo.packOutHandlers.exsd"/>
   <extension-point id="org.adempiere.pipo.packInHandlers" name="Packin Handlers" schema="schema/org.adempiere.pipo.packInHandlers.exsd"/>
   <extension
         point="org.adempiere.base.IDictionaryService">
      <client
            class="org.adempiere.pipo.srv.PipoDictionaryService">
      </client>
   </extension>

</plugin>
