<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.adempiere.base.IResourceFinder" name="ResourceFinder" schema="schema/ResourceFinder.exsd"/>
   <extension-point id="org.adempiere.base.IColumnCallout" name="Callout" schema="schema/org.adempiere.base.Callout.exsd"/>
   <extension-point id="org.adempiere.base.IDictionaryService" name="DictionaryService" schema="schema/org.adempiere.base.IDictionaryService.exsd"/>
   <extension-point id="org.adempiere.base.Process" name="Process" schema="schema/org.adempiere.base.Process.exsd"/>
   <extension-point id="org.adempiere.base.ModelValidator" name="Model Validator" schema="schema/org.adempiere.base.ModelValidator.exsd"/>
   <extension-point id="org.compiere.db.AdempiereDatabase" name="Adempiere Database Interface" schema="schema/org.compiere.db.AdempiereDatabase.exsd"/>
   <extension-point id="org.compiere.interfaces.Server" name="Server Interface" schema="schema/org.compiere.interfaces.Server.exsd"/>
   <extension-point id="org.compiere.interfaces.Status" name="Status interface" schema="schema/org.compiere.interfaces.Status.exsd"/>
   <extension-point id="org.adempiere.base.IModelFactory" name="Model Factory" schema="schema/org.adempiere.base.IModelFactory.exsd"/>
   <extension-point id="org.adempiere.base.IDocFactory" name="Financial Document Factory" schema="schema/org.adempiere.base.IDocFactory.exsd"/>
   <extension-point id="org.adempiere.base.IGridTabExporter" name="Grid data export extension" schema="schema/org.adempiere.base.IGridTabExporter.exsd"/>
   <extension
         id="org.adempiere.base.DefaultModelFactory"
         name="Default model factory"
         point="org.adempiere.base.IModelFactory">
      <factory
            class="org.adempiere.base.DefaultModelFactory"
            priority="0">
      </factory>
   </extension>
   <extension
         id="org.adempiere.base.DefaultDocFactory"
         name="Default Document Factory"
         point="org.adempiere.base.IDocFactory">
      <factory
            class="org.adempiere.base.DefaultDocumentFactory"
            gaap="*"
            priority="0">
      </factory>
   </extension>
   <extension
         id="org.adempiere.impexp.GridTabXlsExporter"
         name="Grid data excel exporter"
         point="org.adempiere.base.IGridTabExporter">
      <exporter
            class="org.adempiere.impexp.GridTabExcelExporter"
            priority="0">
      </exporter>
   </extension>

</plugin>
