<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <serviceSelector
            filter="(bundleSymbolicName=org.adempiere.webstore)">
      </serviceSelector>
      <servlet
            alias="/advertisementServlet"
            class="org.compiere.wstore.AdvertisementServlet">
      </servlet>
      <servlet
            alias="/assetServlet"
            class="org.compiere.wstore.AssetServlet">
      </servlet>
      <servlet
            alias="/basketServlet"
            class="org.compiere.wstore.BasketServlet">
      </servlet>
      <servlet
            alias="/checkOutServlet"
            class="org.compiere.wstore.CheckOutServlet">
      </servlet>
      <servlet
            alias="/click"
            class="org.compiere.wstore.Click">
      </servlet>
      <servlet
            alias="/expenseServlet"
            class="org.compiere.wstore.ExpenseServlet">
      </servlet>
      <servlet
            alias="/counter"
            class="org.compiere.wstore.Counter">
      </servlet>
      <servlet
            alias="/infoServlet"
            class="org.compiere.wstore.InfoServlet">
      </servlet>
      <servlet
            alias="/invoiceServlet"
            class="org.compiere.wstore.InvoiceServlet">
      </servlet>
      <servlet
            alias="/locationServlet"
            class="org.compiere.wstore.LocationServlet">
      </servlet>
      <servlet
            alias="/loginServlet"
            class="org.compiere.wstore.LoginServlet">
      </servlet>
      <servlet
            alias="/noteServlet"
            class="org.compiere.wstore.NoteServlet">
      </servlet>
      <servlet
            alias="/orderServlet"
            class="org.compiere.wstore.OrderServlet">
      </servlet>
      <servlet
            alias="/paymentServlet"
            class="org.compiere.wstore.PaymentServlet">
      </servlet>
      <servlet
            alias="/productServlet"
            class="org.compiere.wstore.ProductServlet">
      </servlet>
      <servlet
            alias="/registrationServlet"
            class="org.compiere.wstore.RegistrationServlet">
      </servlet>
      <servlet
            alias="/requestServlet"
            class="org.compiere.wstore.RequestServlet">
      </servlet>
      <servlet
            alias="/rfqServlet"
            class="org.compiere.wstore.RfQServlet">
      </servlet>
      <servlet
            alias="/searchServlet"
            class="org.compiere.wstore.SearchServlet">
      </servlet>
      <servlet
            alias="/updateServlet"
            class="org.compiere.wstore.UpdateServlet">
      </servlet>
      <servlet
            alias="/workflowServlet"
            class="org.compiere.wstore.WorkflowServlet">
      </servlet>
      <servlet
            alias="/emailServlet"
            class="org.compiere.wstore.EMailServlet">
      </servlet>
      <servlet
            alias="/issueReportServlet"
            class="org.compiere.wstore.IssueReportServlet">
      </servlet>
   </extension>

</plugin>
