<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="Equinox Target">
<locations>
<location path="${workspace_loc}/equinox-target/spring" type="Directory"/>
<location path="${workspace_loc}/equinox-target" type="Directory"/>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.6"/>
<launcherArgs>
<vmArgs>-Dosgi.compatibility.bootdelegation=true</vmArgs>
</launcherArgs>
</target>
