<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.adempiere.apps.Form"
         id="org.adempiere.plugin.list.PluginList">         
      <form
            class="org.adempiere.plugin.list.PluginList">
      </form>
   </extension>
</plugin>
