<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.RuntimeWorkbench">
    <booleanAttribute key="append.args" value="true"/>
    <stringAttribute key="application" value="org.adempiere.install.translation"/>
    <booleanAttribute key="askclear" value="true"/>
    <booleanAttribute key="automaticAdd" value="false"/>
    <booleanAttribute key="automaticValidate" value="false"/>
    <stringAttribute key="bootstrap" value=""/>
    <stringAttribute key="checked" value="[NONE]"/>
    <booleanAttribute key="clearConfig" value="true"/>
    <booleanAttribute key="clearws" value="false"/>
    <booleanAttribute key="clearwslog" value="false"/>
    <stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/synchronize-terminology.app"/>
    <booleanAttribute key="default" value="false"/>
    <setAttribute key="deselected_workspace_bundles"/>
    <booleanAttribute key="includeOptional" value="false"/>
    <stringAttribute key="location" value="${workspace_loc}/runtime-synchronize-terminology.app"/>
    <stringAttribute key="org.eclipse.debug.core.source_locator_id" value="org.eclipse.pde.ui.launcher.PDESourceLookupDirector"/>
    <stringAttribute key="org.eclipse.debug.core.source_locator_memento" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;sourceLookupDirector&gt;&#10;&lt;sourceContainers duplicates=&quot;false&quot;&gt;&#10;&lt;container memento=&quot;&amp;lt;?xml version=&amp;quot;1.0&amp;quot; encoding=&amp;quot;UTF-8&amp;quot; standalone=&amp;quot;no&amp;quot;?&amp;gt;&amp;#10;&amp;lt;classpathContainer path=&amp;quot;org.eclipse.jdt.launching.JRE_CONTAINER&amp;quot;/&amp;gt;&amp;#10;&quot; typeId=&quot;org.eclipse.jdt.launching.sourceContainer.classpathContainer&quot;/&gt;&#10;&lt;container memento=&quot;&amp;lt;?xml version=&amp;quot;1.0&amp;quot; encoding=&amp;quot;UTF-8&amp;quot; standalone=&amp;quot;no&amp;quot;?&amp;gt;&amp;#10;&amp;lt;default/&amp;gt;&amp;#10;&quot; typeId=&quot;org.eclipse.debug.core.containerType.default&quot;/&gt;&#10;&lt;/sourceContainers&gt;&#10;&lt;/sourceLookupDirector&gt;&#10;"/>
    <listAttribute key="org.eclipse.debug.ui.favoriteGroups">
        <listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-11"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -arch ${target.arch} -nl ${target.nl} -consoleLog&#10;sync"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="--add-modules java.se --add-opens java.base/java.lang=ALL-UNNAMED --add-opens java.base/java.nio=ALL-UNNAMED --add-opens java.base/sun.nio.ch=ALL-UNNAMED --add-opens java.management/sun.management=ALL-UNNAMED --add-opens jdk.management/com.sun.management.internal=ALL-UNNAMED --add-exports java.base/jdk.internal.ref=ALL-UNNAMED --add-exports java.desktop/sun.awt=ALL-UNNAMED --add-exports java.sql.rowset/com.sun.rowset=ALL-UNNAMED --add-exports java.naming/com.sun.jndi.ldap=ALL-UNNAMED"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${project_loc:org.adempiere.base}/.."/>
    <stringAttribute key="pde.version" value="3.3"/>
    <stringAttribute key="product" value="org.adempiere.server.server_product"/>
    <stringAttribute key="productFile" value="/org.adempiere.server-feature/server.product"/>
    <setAttribute key="selected_target_bundles">
        <setEntry value="bcprov@default:default"/>
        <setEntry value="com.diffplug.osgi.extension.sun.misc@default:false"/>
        <setEntry value="com.github.librepdf.openpdf-fonts-extra@default:default"/>
        <setEntry value="com.github.librepdf.openpdf@default:default"/>
        <setEntry value="com.google.gson@default:default"/>
        <setEntry value="com.google.guava.failureaccess@default:default"/>
        <setEntry value="com.google.guava@default:default"/>
        <setEntry value="com.google.http-client.google-http-client@default:default"/>
        <setEntry value="com.google.oauth-client@default:default"/>
        <setEntry value="com.google.zxing.core@default:default"/>
        <setEntry value="com.jaspersoft.studio.bundles.barbecue@default:default"/>
        <setEntry value="com.sun.activation.jakarta.activation@default:default"/>
        <setEntry value="com.sun.mail.jakarta.mail@default:default"/>
        <setEntry value="groovy-console@default:false"/>
        <setEntry value="groovy-datetime@default:false"/>
        <setEntry value="groovy-json@default:false"/>
        <setEntry value="groovy-jsr223@default:false"/>
        <setEntry value="groovy-nio@default:false"/>
        <setEntry value="groovy-sql@default:false"/>
        <setEntry value="groovy-xml@default:false"/>
        <setEntry value="groovy@default:default"/>
        <setEntry value="jakarta.xml.bind-api@default:default"/>
        <setEntry value="org.apache.geronimo.specs.geronimo-jms_1.1_spec@default:default"/>
        <setEntry value="net.sf.supercsv.super-csv@default:default"/>
        <setEntry value="org.antlr.antlr4-runtime@default:default"/>
        <setEntry value="org.apache.activemq.activemq-client@default:default"/>
        <setEntry value="wrapped.org.apache.activemq.activemq-kahadb-store@default:default"/>
        <setEntry value="org.fusesource.hawtbuf.hawtbuf@default:default"/>
        <setEntry value="xstream@default:default"/>
        <setEntry value="org.apache.ant@default:default"/>
        <setEntry value="org.apache.commons.commons-codec@default:default"/>
        <setEntry value="org.apache.commons.collections@default:default"/>
        <setEntry value="org.apache.commons.commons-collections4@default:default"/>
        <setEntry value="org.apache.commons.commons-compress@default:default"/>
        <setEntry value="org.apache.commons.logging@default:default"/>
        <setEntry value="org.apache.commons.commons-net@default:default"/>
        <setEntry value="org.apache.felix.gogo.runtime@default:default"/>
        <setEntry value="org.apache.felix.gogo.shell@default:default"/>
        <setEntry value="org.apache.felix.scr@1:true"/>
        <setEntry value="org.apache.geronimo.specs.geronimo-j2ee-management_1.1_spec@default:default"/>
        <setEntry value="org.apache.httpcomponents.httpclient@default:default"/>
        <setEntry value="org.apache.httpcomponents.httpcore@default:default"/>
        <setEntry value="org.apache.poi.ooxml-schemas@default:default"/>
        <setEntry value="wrapped.org.apache.poi.poi-ooxml@default:default"/>
        <setEntry value="wrapped.org.apache.poi.poi@default:default"/>
        <setEntry value="org.apache.servicemix.bundles.cglib@default:default"/>
        <setEntry value="org.apache.servicemix.bundles.xerces@default:default"/>
        <setEntry value="org.apache.xml.resolver@default:default"/>
        <setEntry value="org.apache.xml.serializer@default:default"/>
        <setEntry value="wrapped.org.apache.xmlbeans.xmlbeans@default:default"/>
        <setEntry value="org.cryptacular@default:default"/>
        <setEntry value="org.eclipse.ant.core@default:default"/>
        <setEntry value="org.eclipse.core.contenttype@default:default"/>
        <setEntry value="org.eclipse.core.jobs@default:default"/>
        <setEntry value="org.eclipse.core.runtime@default:true"/>
        <setEntry value="org.eclipse.core.variables@default:default"/>
        <setEntry value="org.eclipse.equinox.app@default:default"/>
        <setEntry value="org.eclipse.equinox.common@2:true"/>
        <setEntry value="org.eclipse.equinox.console@default:default"/>
        <setEntry value="org.eclipse.equinox.event@2:true"/>
        <setEntry value="org.eclipse.equinox.preferences@default:default"/>
        <setEntry value="org.eclipse.equinox.registry@default:default"/>
        <setEntry value="org.eclipse.jetty.servlet-api@default:default"/>
        <setEntry value="org.eclipse.osgi.compatibility.state@default:false"/>
        <setEntry value="org.eclipse.osgi.services@default:default"/>
        <setEntry value="org.eclipse.osgi.util@default:default"/>
        <setEntry value="org.eclipse.osgi@-1:true"/>
        <setEntry value="wrapped.org.jfree.jfreechart@default:default"/>
        <setEntry value="wrapped.org.jfree.jcommon@default:default"/>
        <setEntry value="org.jsr-305@default:default"/>
        <setEntry value="org.krysalis.barcode4j@default:default"/>
        <setEntry value="org.passay@default:default"/>
        <setEntry value="slf4j.api*1.7.30@default:default"/>
        <setEntry value="slf4j.jcl@default:false"/>
        <setEntry value="wrapped.com.google.http-client.google-http-client-gson@default:default"/>
        <setEntry value="wrapped.com.google.zxing.javase@default:default"/>
        <setEntry value="wrapped.dev.samstevens.totp.totp@default:default"/>
        <setEntry value="wrapped.io.grpc.grpc-context@default:default"/>
        <setEntry value="wrapped.io.opencensus.opencensus-api@default:default"/>
        <setEntry value="wrapped.io.opencensus.opencensus-contrib-http-util@default:default"/>
        <setEntry value="org.objectweb.asm.commons@default:default"/>
        <setEntry value="org.objectweb.asm.tree.analysis@default:default"/>
        <setEntry value="org.objectweb.asm.tree@default:default"/>
        <setEntry value="org.objectweb.asm.util@default:default"/>
        <setEntry value="org.objectweb.asm@default:default"/>
        <setEntry value="org.apache.aries.spifly.dynamic.bundle@default:default"/>
        <setEntry value="org.apache.aries.util@default:default"/>
    </setAttribute>
    <setAttribute key="selected_workspace_bundles">
        <setEntry value="org.adempiere.base.callout@default:default"/>
        <setEntry value="org.adempiere.base.process@default:default"/>
        <setEntry value="org.adempiere.base@default:default"/>
        <setEntry value="org.adempiere.payment.processor@default:default"/>
        <setEntry value="org.adempiere.pipo.handlers@default:default"/>
        <setEntry value="org.adempiere.pipo@default:true"/>
        <setEntry value="org.adempiere.plugin.utils@default:default"/>
        <setEntry value="org.apache.ecs@default:default"/>
        <setEntry value="org.compiere.db.oracle.provider@default:default"/>
        <setEntry value="org.compiere.db.postgresql.provider@default:default"/>
    </setAttribute>
    <booleanAttribute key="show_selected_only" value="false"/>
    <booleanAttribute key="tracing" value="false"/>
    <booleanAttribute key="useCustomFeatures" value="false"/>
    <booleanAttribute key="useDefaultConfig" value="true"/>
    <booleanAttribute key="useDefaultConfigArea" value="true"/>
    <booleanAttribute key="useProduct" value="false"/>
    <booleanAttribute key="usefeatures" value="false"/>
</launchConfiguration>
