<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.adempiere.install.IDatabaseConfig" name="Database configuration extension" schema="schema/org.adempiere.install.IDatabaseConfig.exsd"/>
   <extension
         id="org.adempiere.install.application"
         point="org.eclipse.core.runtime.applications">
         <application>
         	<run class="org.compiere.install.Application" />
		 </application>
   </extension>
   <extension
         id="org.adempiere.install.console.application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.compiere.install.console.Application">
         </run>
      </application>
   </extension>
</plugin>
