<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.adempiere.pipo.Handlers" name="Element Handlers" schema="schema/org.adempiere.pipo.Handlers.exsd"/>
   <extension
         id="org.adempiere.pipo2.GridTab2PackExporter"
         name="2Pack Exporter"
         point="org.adempiere.base.IGridTabExporter">
      <exporter
            class="org.adempiere.pipo2.GridTab2PackExporter"
            priority="0">
      </exporter>
   </extension>
   <extension
         id="org.adempiere.pipo.PackOut"
         name="PackOut Process"
         point="org.adempiere.base.Process">
      <process
            class="org.adempiere.pipo2.PackOutProcess">
      </process>
   </extension>
   <extension
         id="org.adempiere.pipo.PackIn"
         name="PackIn Process"
         point="org.adempiere.base.Process">
      <process
            class="org.adempiere.pipo2.PackInProcess">
      </process>
   </extension>
   <extension
         id="org.adempiere.pipo.PackRoll"
         name="PackRoll Process"
         point="org.adempiere.base.Process">
      <process
            class="org.adempiere.pipo2.PackRollProcess">
      </process>
   </extension>

</plugin>
