<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="defaultHandlers"      name="Default Handlers"
         point="org.adempiere.pipo.Handlers">
      <handler
            class="org.adempiere.pipo2.handler.AdElementHandler"
            id="AD_Element">
      </handler>
      <handler
            class="org.adempiere.pipo2.handler.CodeSnippetElementHandler"
            id="Code_Snippet">
      </handler>
      <handler
            class="org.adempiere.pipo2.handler.ColumnElementHandler"
            id="AD_Column">
      </handler>
      <handler
            class="org.adempiere.pipo2.handler.FieldElementHandler"
            id="AD_Field">
      </handler>
      <handler
            class="org.adempiere.pipo2.handler.FieldGroupElementHandler"
            id="AD_FieldGroup">
      </handler>
      <handler
            class="org.adempiere.pipo2.handler.FormElementHandler"
            id="AD_Form">
      </handler>
      <handler
            class="org.adempiere.pipo2.handler.FormAccessElementHandler"
            id="AD_Form_Access">
      </handler>
      <handler
            class="org.adempiere.pipo2.handler.ImpFormatElementHandler"
            id="AD_ImpFormat">
      </handler>
      <handler
            class="org.adempiere.pipo2.handler.ImpFormatRowElementHandler"
            id="AD_ImpFormat_Row">
      </handler>
      <handler
            class="org.adempiere.pipo2.handler.MenuElementHandler"
            id="AD_Menu">
      </handler>
      <handler
            class="org.adempiere.pipo2.handler.ProcessElementHandler"
            id="AD_Process">
      </handler>
      <handler
            class="org.adempiere.pipo2.handler.WindowElementHandler"
            id="AD_Window">
      </handler>
      <handler
            class="org.adempiere.pipo2.handler.WindowAccessElementHandler"
            id="AD_Window_Access">
      </handler>
      <handler
            class="org.adempiere.pipo2.handler.PreferenceElementHandler"
            id="AD_Preference">
      </handler>
      <handler
            class="org.adempiere.pipo2.handler.TabElementHandler"
            id="AD_Tab">
      </handler>
      <handler
            class="org.adempiere.pipo2.handler.ProcessParaElementHandler"
            id="AD_Process_Para">
      </handler>
      <handler
            class="org.adempiere.pipo2.handler.ProcessAccessElementHandler"
            id="AD_Process_Access">
      </handler>
      <handler
            class="org.adempiere.pipo2.handler.MessageElementHandler"
            id="AD_Message">
      </handler>
      <handler
            class="org.adempiere.pipo2.handler.DynValRuleElementHandler"
            id="AD_Val_Rule">
      </handler>
      <handler
            class="org.adempiere.pipo2.handler.WorkflowElementHandler"
            id="AD_Workflow">
      </handler>
      <handler
            class="org.adempiere.pipo2.handler.WorkflowNodeElementHandler"
            id="AD_WF_Node">
      </handler>
      <handler
            class="org.adempiere.pipo2.handler.WorkflowNodeNextElementHandler"
            id="AD_WF_NodeNext">
      </handler>
      <handler
            class="org.adempiere.pipo2.handler.WorkflowNodeNextConditionElementHandler"
            id="AD_WF_NextCondition">
      </handler>
      <handler
            class="org.adempiere.pipo2.handler.WorkflowAccessElementHandler"
            id="AD_Workflow_Access">
      </handler>
      <handler
            class="org.adempiere.pipo2.handler.TableElementHandler"
            id="AD_Table">
      </handler>
      <handler
            class="org.adempiere.pipo2.handler.RoleElementHandler"
            id="AD_Role">
      </handler>
      <handler
            class="org.adempiere.pipo2.handler.UserRoleElementHandler"
            id="AD_User_Roles">
      </handler>
      <handler
            class="org.adempiere.pipo2.handler.OrgRoleElementHandler"
            id="AD_Role_OrgAccess">
      </handler>
      <handler
            class="org.adempiere.pipo2.handler.TaskElementHandler"
            id="AD_Task">
      </handler>
      <handler
            class="org.adempiere.pipo2.handler.TaskAccessElementHandler"
            id="AD_Task_Access">
      </handler>
      <handler
            class="org.adempiere.pipo2.handler.DistFileElementHandler"
            id="Dist_File">
      </handler>
      <handler
            class="org.adempiere.pipo2.handler.ReportViewElementHandler"
            id="AD_ReportView">
      </handler>
      <handler
            class="org.adempiere.pipo2.handler.ReportViewColElementHandler"
            id="AD_ReportView_Col">
      </handler>
      <handler
            class="org.adempiere.pipo2.handler.PrintFormatElementHandler"
            id="AD_PrintFormat">
      </handler>
      <handler
            class="org.adempiere.pipo2.handler.PrintFormatItemElementHandler"
            id="AD_PrintFormatItem">
      </handler>
      <handler
            class="org.adempiere.pipo2.handler.PrintPaperElementHandler"
            id="AD_PrintPaper">
      </handler>
      <handler
            class="org.adempiere.pipo2.handler.SQLStatementElementHandler"
            id="SQLStatement">
      </handler>
      <handler
            class="org.adempiere.pipo2.handler.ReferenceElementHandler"
            id="AD_Reference">
      </handler>
      <handler
            class="org.adempiere.pipo2.handler.ReferenceListElementHandler"
            id="AD_Ref_List">
      </handler>
      <handler
            class="org.adempiere.pipo2.handler.ReferenceTableElementHandler"
            id="AD_Ref_Table">
      </handler>
      <handler
            class="org.adempiere.pipo2.handler.AttachmentElementHandler"
            id="AD_Attachment">
      </handler>
      <handler
            class="org.adempiere.pipo2.handler.CommonTranslationHandler"
            id="table.translationHandler">
      </handler>
      <handler
            class="org.adempiere.pipo2.handler.GenericPOElementHandler"
            id="table.genericHandler">
      </handler>
      <handler
            class="org.adempiere.pipo2.handler.ModelValidatorElementHandler"
            id="AD_ModelValidator">
      </handler>
   </extension>

</plugin>
