Package: idempiere
Version: 6.1
Section: web
Priority: extra
Architecture: all
Pre-Depends: openjdk-10-jdk|openjdk-11-jdk|openjdk-12-jdk, postgresql-11|postgresql-10|postgresql-9.6, postgresql-contrib, adduser
Suggests: firefox
Installed-Size: 968668
Maintainer: Carlos Ruiz  <carg67@gmail.com>
Description: iDempiere ERP
             iDempiere Business Suite ERP/CRM/SCM
Homepage: http://www.idempiere.org/
