<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
	<icon>
		<large-icon>/iD32.gif</large-icon>
	</icon>
	<display-name>iDempiere Web Store</display-name>
	<description></description>
	<!--Standard Parameters - if 0 use web store context -->
	<context-param>
		<param-name>#W_Store_ID</param-name>
		<param-value>0</param-value>
	</context-param>
	<context-param>
		<param-name>#AD_Client_ID</param-name>
		<param-value>1000000</param-value>
	</context-param>
	<!--
		This is required if your application bundles expose JSPs.
	-->

	<!-- Force SSL connection for login and checkout -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>SSL pages</web-resource-name>
			<url-pattern>/login.jsp</url-pattern>
			<url-pattern>/loginServlet</url-pattern>
			<url-pattern>/checkOutServlet</url-pattern>
			<url-pattern>/orderServlet</url-pattern>
		</web-resource-collection>

		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>

	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<mime-mapping>
    	<extension>css</extension>
	    <mime-type>text/css</mime-type>
  	</mime-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
