<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.JunitLaunchConfig">
    <booleanAttribute key="append.args" value="true"/>
    <stringAttribute key="application" value="org.eclipse.pde.junit.runtime.coretestapplication"/>
    <booleanAttribute key="askclear" value="false"/>
    <booleanAttribute key="automaticAdd" value="false"/>
    <booleanAttribute key="automaticValidate" value="true"/>
    <stringAttribute key="bootstrap" value=""/>
    <stringAttribute key="checked" value="[NONE]"/>
    <booleanAttribute key="clearConfig" value="true"/>
    <booleanAttribute key="clearws" value="true"/>
    <booleanAttribute key="clearwslog" value="false"/>
    <stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/pde-junit"/>
    <booleanAttribute key="default" value="false"/>
    <setAttribute key="deselected_workspace_bundles"/>
    <booleanAttribute key="includeOptional" value="false"/>
    <stringAttribute key="location" value="${workspace_loc}/../junit-workspace"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/org.compiere.db.postgresql.provider/src/org/compiere/dbPort/Convert_PostgreSQLTest.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.jdt.junit.CONTAINER" value=""/>
    <booleanAttribute key="org.eclipse.jdt.junit.KEEPRUNNING_ATTR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.junit.TESTNAME" value=""/>
    <stringAttribute key="org.eclipse.jdt.junit.TEST_KIND" value="org.eclipse.jdt.junit.loader.junit4"/>
    <stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-11"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.compiere.dbPort.Convert_PostgreSQLTest"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl} -consoleLog"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="org.compiere.db.postgresql.provider"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-ea --add-modules java.se --add-opens java.base/java.lang=ALL-UNNAMED --add-opens java.base/java.nio=ALL-UNNAMED --add-opens java.base/sun.nio.ch=ALL-UNNAMED --add-opens java.management/sun.management=ALL-UNNAMED --add-opens jdk.management/com.sun.management.internal=ALL-UNNAMED --add-exports java.base/jdk.internal.ref=ALL-UNNAMED --add-exports java.desktop/sun.awt=ALL-UNNAMED --add-exports java.sql.rowset/com.sun.rowset=ALL-UNNAMED --add-exports java.naming/com.sun.jndi.ldap=ALL-UNNAMED"/>
    <stringAttribute key="pde.version" value="3.3"/>
    <stringAttribute key="product" value="org.eclipse.sdk.ide"/>
    <booleanAttribute key="run_in_ui_thread" value="true"/>
    <setAttribute key="selected_target_bundles">
        <setEntry value="bcprov@default:default"/>
        <setEntry value="com.diffplug.osgi.extension.sun.misc@default:false"/>
        <setEntry value="com.google.zxing.core@default:default"/>
        <setEntry value="com.ibm.icu*58.2.0.v20181010-1334@default:default"/>
        <setEntry value="com.ibm.icu*62.1.0.v20180727-1652@default:default"/>
        <setEntry value="com.ibm.icu*63.1.0.v20181030-1705@default:default"/>
        <setEntry value="com.ibm.icu*63.1.0@default:default"/>
        <setEntry value="com.itextpdf@default:default"/>
        <setEntry value="com.jaspersoft.studio.bundles.barbecue@default:default"/>
        <setEntry value="com.sun.activation.jakarta.activation@default:default"/>
        <setEntry value="com.sun.mail.smtp@default:default"/>
        <setEntry value="groovy-console@default:false"/>
        <setEntry value="groovy-datetime@default:false"/>
        <setEntry value="groovy-json@default:false"/>
        <setEntry value="groovy-jsr223@default:false"/>
        <setEntry value="groovy-nio@default:false"/>
        <setEntry value="groovy-swing@default:false"/>
        <setEntry value="groovy-xml@default:false"/>
        <setEntry value="groovy@default:default"/>
        <setEntry value="jakarta.mail.api@default:default"/>
        <setEntry value="jakarta.xml.bind-api@default:default"/>
        <setEntry value="javax.annotation-api@default:default"/>
        <setEntry value="javax.inject@default:default"/>
        <setEntry value="javax.jms@default:default"/>
        <setEntry value="javax.transaction@default:false"/>
        <setEntry value="net.sf.supercsv.super-csv@default:default"/>
        <setEntry value="org.apache.activemq.activemq-core@default:default"/>
        <setEntry value="org.apache.activemq.kahadb@default:default"/>
        <setEntry value="org.apache.ant*1.10.5.v20180808-0324@default:default"/>
        <setEntry value="org.apache.ant*1.9.6.v201510161327@default:default"/>
        <setEntry value="org.apache.batik.constants*1.10.0.v20180703-1553@default:default"/>
        <setEntry value="org.apache.batik.constants*1.9.1.v20180227-1645@default:default"/>
        <setEntry value="org.apache.batik.css*1.10.0.v20180703-1553@default:default"/>
        <setEntry value="org.apache.batik.css*1.9.1.v20180313-1559@default:default"/>
        <setEntry value="org.apache.batik.css*1.9.1.v20181015-1528@default:default"/>
        <setEntry value="org.apache.batik.i18n*1.10.0.v20180703-1553@default:default"/>
        <setEntry value="org.apache.batik.i18n*1.9.1.v20180227-1645@default:default"/>
        <setEntry value="org.apache.batik.util*1.10.0.v20180703-1553@default:default"/>
        <setEntry value="org.apache.batik.util*1.9.1.v20180227-1645@default:default"/>
        <setEntry value="org.apache.batik.util*1.9.1.v20180703-1553@default:default"/>
        <setEntry value="org.apache.commons.collections@default:default"/>
        <setEntry value="org.apache.commons.io*2.2.0.v201405211200@default:default"/>
        <setEntry value="org.apache.commons.io*2.6.0@default:default"/>
        <setEntry value="org.apache.commons.logging*1.1.1.v201101211721@default:default"/>
        <setEntry value="org.apache.commons.logging*1.2.0.v20180409-1502@default:default"/>
        <setEntry value="org.apache.commons.net@default:default"/>
        <setEntry value="org.apache.felix.scr@1:true"/>
        <setEntry value="org.apache.geronimo.specs.geronimo-j2ee-management_1.1_spec@default:default"/>
        <setEntry value="org.apache.poi.poi-ooxml@default:default"/>
        <setEntry value="org.apache.poi.poi@default:default"/>
        <setEntry value="org.apache.servicemix.bundles.cglib@default:default"/>
        <setEntry value="org.apache.xmlgraphics*1.4.0.v201301251218@default:default"/>
        <setEntry value="org.apache.xmlgraphics*2.2.0.v20180410-1551@default:default"/>
        <setEntry value="org.apache.xmlgraphics*2.2.0.v20180809-1640@default:default"/>
        <setEntry value="org.cryptacular@default:default"/>
        <setEntry value="org.eclipse.ant.core@default:default"/>
        <setEntry value="org.eclipse.core.commands@default:default"/>
        <setEntry value="org.eclipse.core.contenttype@default:default"/>
        <setEntry value="org.eclipse.core.expressions@default:default"/>
        <setEntry value="org.eclipse.core.jobs@default:default"/>
        <setEntry value="org.eclipse.core.runtime@default:true"/>
        <setEntry value="org.eclipse.core.variables@default:default"/>
        <setEntry value="org.eclipse.equinox.app@default:default"/>
        <setEntry value="org.eclipse.equinox.common@2:true"/>
        <setEntry value="org.eclipse.equinox.ds@1:true"/>
        <setEntry value="org.eclipse.equinox.event@default:default"/>
        <setEntry value="org.eclipse.equinox.preferences@default:default"/>
        <setEntry value="org.eclipse.equinox.registry@default:default"/>
        <setEntry value="org.eclipse.jetty.osgi-servlet-api@default:default"/>
        <setEntry value="org.eclipse.jetty.osgi.alpn.fragment@default:false"/>
        <setEntry value="org.eclipse.osgi*3.13.200.v20181116-1621@-1:true"/>
        <setEntry value="org.eclipse.osgi*3.13.200.v20181130-2106@-1:true"/>
        <setEntry value="org.eclipse.osgi.compatibility.state@default:false"/>
        <setEntry value="org.eclipse.osgi.services@default:default"/>
        <setEntry value="org.eclipse.osgi.util@default:default"/>
        <setEntry value="org.hamcrest.core@default:default"/>
        <setEntry value="org.jfree.chart@default:default"/>
        <setEntry value="org.jfree.jcommon@default:default"/>
        <setEntry value="org.junit@default:default"/>
        <setEntry value="org.krysalis.barcode4j@default:default"/>
        <setEntry value="org.passay@default:default"/>
        <setEntry value="org.w3c.css.sac@default:default"/>
        <setEntry value="org.w3c.dom.events@default:default"/>
        <setEntry value="org.w3c.dom.smil@default:default"/>
        <setEntry value="org.w3c.dom.svg@default:default"/>
        <setEntry value="slf4j.api@default:default"/>
        <setEntry value="slf4j.jcl@default:false"/>
    </setAttribute>
    <setAttribute key="selected_workspace_bundles">
        <setEntry value="org.adempiere.base@default:default"/>
        <setEntry value="org.adempiere.extend@default:false"/>
        <setEntry value="org.adempiere.install@default:default"/>
        <setEntry value="org.apache.ecs@default:default"/>
        <setEntry value="org.compiere.db.postgresql.provider@default:default"/>
        <setEntry value="org.idempiere.hazelcast.service.config@default:false"/>
        <setEntry value="org.idempiere.hazelcast.service@default:default"/>
    </setAttribute>
    <booleanAttribute key="show_selected_only" value="false"/>
    <booleanAttribute key="tracing" value="false"/>
    <booleanAttribute key="useCustomFeatures" value="false"/>
    <booleanAttribute key="useDefaultConfig" value="true"/>
    <booleanAttribute key="useDefaultConfigArea" value="false"/>
    <booleanAttribute key="useProduct" value="false"/>
</launchConfiguration>
