<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.adempiere.webui.Form" name="Web Form" schema="schema/org.adempiere.webui.Form.exsd"/>
   <extension
         point="org.compiere.print.ReportViewerProvider">
      <provider
            class="org.adempiere.webui.window.ZkReportViewerProvider">
      </provider>
   </extension>
   <extension
         point="org.compiere.report.JRViewerProvider">
      <provider
            class="org.adempiere.webui.window.ZkJRViewerProvider">
      </provider>
   </extension>
   <extension
         point="org.compiere.interfaces.Server">
      <interface
            class="org.compiere.interfaces.impl.ServerBean">
      </interface>
   </extension>
   <extension
         point="org.compiere.interfaces.Status">
      <interface
            class="org.compiere.interfaces.impl.StatusBean">
      </interface>
   </extension>

</plugin>
