.rp-href {
	color: #000000;
}
.rp-table {
	border-width: 1px;
	border-color: #BBBBBB;
	border-style: solid;
	border-collapse: separate;
  	border-spacing: 0;
	width: 90%;
	background-color: #EBF1EF;	
	border-width: 0px;
}
.rp-table th {
	text-align:	center;
	padding: 2px;
	font-weight: bold;
	background-color: #C6D1CD;
	border-width: 1px;
	border-color: black;
	border-width: 2px 1px 2px 0px;
	border-style: solid;
}

.rp-table th:last-child {
	border-width: 2px 0px 2px 0px;
}

.rp-table td {
	border-width: 1px;
	border-color: #BBBBBB;
	border-style: solid;
	border-width: 1px 1px 1px 0px;
	padding: 3px;
}

.rp-table td:last-child {
	border-width: 1px 0px 1px 0px;
}

.rp-number {
	background-color: #EBF1EF;
	text-align: right !important;
	padding: 3px;
}
.rp-text, .rp-date {
	background-color: #EBF1EF;
	text-align: left;
	padding: 3px;
}

.rp-lastgrouprow td {
	border-width: 0px 1px 2px 0px;
	border-color: white #BBBBBB black white;
}

.rp-lastgrouprow td:last-child {
	border-width: 0px 0px 2px 0px;
	border-color: white #BBBBBB black white;
}

.rp-functionrow td {
	background-color: #C6D1CD;
	font-weight: bold;
	border-width: 0px 1px 0px 0px;
}

.rp-functionrow td:last-child {
	border-width: 0px 0px 0px 0px;
}

div.rp-flex-container {
	display: flex; 
	flex-direction: column; 
	height: 100%;
}

#rp-para-table-wrap {
	flex-grow: 0;
}

div.rp-table-wrap {
	flex-grow: 1;
	overflow: auto;
}

div.rp-table-wrap > table > thead > tr > th {
	position: sticky;
	top: 0;
}

@media print {
	div.rp-flex-container {
		height: auto;
	}
	div.rp-table-wrap {
		overflow: visible;
	}
	div.rp-table-wrap > table > thead > tr > th {
		position: relative;
	}
}
